.btn {
  width: 280px;
  height: 55px;
  margin-top: 29px;
  margin-bottom: 32px;
}

.btn--download {
  content: '';
  display: block;
  position: relative;
  padding: 13px 40px;
  border: 3px solid;
  border-color: white;
  border-radius: 25px;
  text-align: center;

  text-decoration: none;
  color: white;
  font-size: 18px;
  font-style: bold;
  font-weight: 700px;

  &:hover {
    background-color: white;
    color: #d22856;
  }

  &:active {
    color:rgba($color: #d22856, $alpha: 0.5);
  }
}

.btn__publish {
  border-top: 2px solid;
  border-color: rgb(242, 242, 242);
  height: 203px;
}

.block-btn-share {
  padding: 38px 20px 12px 20px;
}

.block-btn-reset {
  padding: 0px 20px 41px 20px;
}

.btn--share {
  width: 280px;
  height: 55px;
  color: #d22856;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid;
  border-color: #d22856;
  border-radius: 30px;

  &:hover {
    background-color: #d22856;
    color: white;
  }

  &:active {
    background-color: #d22856;
    color: rgba(white, 0.5);
  }
}

.btn--reset {
  width: 280px;
  height: 55px;
  font-size: 18px;
  color: #d22856;
  font-weight: 700;
  border: 3px solid;
  border-color: #d22856;
  border-radius: 30px;

  &:hover {
    background-color: #d22856;
    color: white;
  }

  &:active {
    background-color: #d22856;
    color: rgba(white, 0.5);
  }
}
