@font-face {
  font-family: 'Open Sans';
  src: url('/source/fonts/opensans.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/source/fonts/opensansbold.woff2');
  font-weight: 700;
  font-style: bold;
}
