.publish-editor {
  height: 757px;
  background-color: white;//временный цвет
}

.publish-editor__photo {
  padding: 20px 20px 42px 20px;
}

.radio-edit {
  padding: 0 60px;
}

.block-slider-edit {
  padding: 39px 40px 34px 40px;
  width: 240px;
}

#slider-edit {
  margin: 0;
  width: 240px;
}
